* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  margin: 0;
}

#main {
  transition: margin-left 0.5s;
  padding-left: 20px;
  padding-right: 20px;
}

h3 {
  text-decoration: 2px double underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.search-form {
  display: inline-block;
  width: 100%;
  margin-right: 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

/* Responsive Maker for screen size less than 820px */
/* @media only screen and (max-width: 820px) {
  .searchBar {
    display: block;
  }
} */
