* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  text-align: center;
}

.error_text {
  display: block;
}

.unameWrapper,
.passWrapper {
  margin-bottom: 10px;
}

.error_text {
  display: none;
  color: red;
}

.formWrapper {
  display: inline-block;
  justify-content: center;
  text-align: left;
  border: 2px solid white;
  border-radius: 25px;
  padding: 40px;
  background-color: white;
  box-shadow: 1px 1px 18px #e0e0e0;
  overflow: hidden;
  width: 50%;
}

/* .other {
    display: flex;
} */

.submit {
  font-size: 17px;
  height: 40px;
  width: 80%;
  color: white;
  font-weight: bold;
  background-color: #67ce00;
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 17px;
  cursor: pointer;
  margin-bottom: 13px;
}

.submit:hover {
  box-shadow: 1px 2px 15px #376f00;
  transition: 0.2s;
  font-size: 18px;
}

input {
  height: 35px;
  width: 100%;
  outline: none;
  border: 1px dotted black;
  border-radius: 10px;
  margin-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  font-family: serif;
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

label {
  font-size: 15px;
  font-weight: bold;
}

.forgotWrapper {
  text-align: center;
  padding-right: 7px;
  margin-top: 13px;
  margin-bottom: 4px;
}

h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.forgot,
.register {
  font-size: 13px;
  color: red;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
}

.forgot {
  float: right;
}

.register {
  color: blue;
  font-style: normal;
}

.regWrapper {
  margin-top: 7px;
}

.register:hover,
.forgot:hover {
  /* color: green; */
  text-decoration: underline;
}
